body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: cornflowerblue;

}

.center {
    text-align: center;
    font-size: 2em;

}

.center h1 {
    background-color: rgba(50,50,50,0.5);
}

.sample{
    margin: 0 auto;
    margin-top: -43px;
    height: 400px;
    width: 900px;
    background-color: #fff;
}

/* .center button {
    background: transparent;
    border: 1px solid black;
    padding: 10px 30px;
    font-size: 1rem;
}

a {
    text-decoration: none;
    font-size: .5em;
    padding: 10px 30px;
    color: black;
    border: 1px solid black;
} */

/* span {
    color: aliceblue;
} */