body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: cornflowerblue; */
    background-color: aqua;

}

.center {
    text-align: center;
    font-size: 2em;

}

/* .center h1 {
    background-color: rgba(50,50,50,0.5);
}

.sample{
    margin: 0 auto;
    margin-top: -43px;
    height: 100px;
    width: 300px;
    background-color: #fff;
} */

/* .center button {
    background: transparent;
    border: 1px solid black;
    padding: 10px 30px;
    font-size: 1rem;
}

a {
    text-decoration: none;
    font-size: .5em;
    padding: 10px 30px;
    color: black;
    border: 1px solid black;
} */

/* span {
    color: aliceblue;
} */


/* jquery project */

.btn1,
.btn2,
.btn3,
.btn4 {
    font-size: 2rem;
    margin: 8px;
    border-radius: 3px;
    border: 1px solid #000;
}

input {
    font-size: 1.5rem;
    margin: 18px;
}

a {
    text-decoration: none;
    color: black;
}
